

#une_fois{
    display: block;
    padding: 1% 0.5%;
    border: none;
    left: 35%;
    width: 15%;
    position: inherit;
}
#div_carrousel{
    margin-left: 35%;
}
.img_carrousel{
    width: 70%;
}
